* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.nav {
  height: 10vh;
  width: 100vw;
  background-color: white;
  color: #777;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 48px;
  padding: 1vh;
  margin-left: 5vh;
  color: #16a085;
}

.trigger {
  font-size: 56px;
}

.trigger > a {
  text-decoration: none;
  color: #777;
}

.trigger > a:hover {
  font-size: 86px;
  color: #34495e;
}

.navigationLinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30vw;
  font-size: 16px;
  margin-right: 2vh;
}

body {
  background-color: #16a085;
}

.expenseMainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.expenseBox {
  height: 7vh;
  width: 97vw;
  background-color: #95a5a6;
  margin-bottom: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border: solid 0.05em black;
  font-size: 18px;
  font-family: monospace;
}

.expenseName {
  width: 10vw;
  display: flex;
}

.expenseDate {
  width: 10vw;
  display: flex;
  justify-content: start;
}

.expenseCreator {
  width: 10vw;
}

.expenseSum {
  width: 5vw;
}

.container {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.overlay-left {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  justify-content: center;
  background-color: #ecf0f1;
}

.overlay-right {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  justify-content: center;
  background-color: #e67e22;
}

a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #16a085;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #16a085;
}

li:hover,
li:focus-within {
  background: red;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.split-page {
  display: flex;
  justify-content: space-between;
}

.daily-table {
  border: 1px solid #c0c0c0;
}

.daily-table th {
  border: 1px solid #c0c0c0;
}

.daily-table td {
  border: 1px solid #c0c0c0;
}

.flex-daily {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-daily > div {
  margin: 50px 0px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.styled-btn {
  padding: 1% 2%;
  margin: 5%;
  background-color: #16a085;
  border: solid;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8%;
}

.styled-btn:hover {
  background-color: #fff;
  color: #16a085;
}
/*# sourceMappingURL=style.css.map */
