<!doctype html>
<html id="html" lang="en">
<head>
  <title>Expense System</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
  {{{ body }}}
  <script src="/javascripts/script.js"></script>
</body>

</html>