<!doctype html>
<html>

<head>
  <title>Expense System</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div class="nav">
  <div id="title" class="title">
    <span>Expense App</span>
  </div>
  <div class="addExpense"><a href="/create-expense">+</a></div>
  <div class="navigationLinks">
    <li>Dashboard</li>
    <li>Reports</li>
    <li>FAQ</li>
    <li>Settings</li>
  </div>
</div>

<body>
  {{{ body }}}
</body>
<script src="/javascripts/script.js"></script>
<script>
  document.getElementById('title').click(function () {
    console.log("Click detected!!")
  });

  document.querySelector(".remove").click(function () {

  });
</script>

</html>