<!doctype html>
<html>

<head>
  <title>Expense System</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  {{{ body }}}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>