{{!-- <ul>
    {{#each itemsData}}

    <li>{{this.name}} - {{this.price}}</li>

    {{/each}}
</ul>

<form action="/add-item" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="price">Price: </label>
    <input type="number" name="price" id="price">

    <button type="submit">Add an item</button>
</form> --}}
<h1>Upload your receipts</h1>

<form action="/settings/add" method="post" enctype="multipart/form-data">
    <label>Receipt label</label>
    <input type="text" name="title">

    <label>Description</label>
    <input type="text" name="description">

    <label>Photo of receipt</label>
    <input type="file" name="photo">

    <input type="submit" value="SAVE">
</form>