{{> privateHeader}}
<div class="main">
    <div id="faq-container">
        <h1>FAQ</h1>
        <hr>
        <div id="faq-info">
            <h2>What is Expense App?</h2>

            <p>Expense App is a personal finance web application. It helps you understand where your money goes. Expense
                App lets you keep track of the details as you spend money: where, when, what, why, & how much.</p>


            <h2>Is Expense App private?</h2>
            <p>Absolutely. We have the utmost respect for your privacy. Your information is safe and secure with us.</p>

            <h2>What currencies are available?</h2>
            <p>All of them! We also support currency conversion between American and Australian dollars, Euro and
                Turkish Lira.</p>

            <h2>Can I set a password?</h2>
            <p>Yes, but make sure you don’t forget it or your information will be lost.</p>

            <h2>How much does it cost?</h2>
            <p>Expense App is 100% free</p>

            <h2>Are there any ads?</h2>
            <p>Nope.</p>

            <h2>How do you make money?</h2>
            <p>We don't.</p>

            <h2>Can I save pictures of receipts?</h2>
            <p>Of course! With every expense you log in, you can take a picture of the receipt for your records.</p>
        </div>
        <hr>
        <div id="signup">
            <a href="/signup"><button class="styled-form-btn">Signup</button></a>
        </div>
    </div>
</div>