<link rel="stylesheet" href="/stylesheets/settings-styles.css">

<h1>Settings</h1>

<div id="settings-container">

    <form action="/settings" method="POST">
        <label for="cars">Choose currency:</label>
        <select id="cars" name="cars">
            <option value="USdollar">US Dollar</option>
            <option value="AUSdollar">Australian Dollar</option>
            <option value="eur">Euro</option>
            <option value="rupiah">Indonesian Rupiah</option>
            <option value="jp-yen">Japanese Yen</option>
        </select>
        <input type="submit">
    </form>

</div>