<div class="nav-public">
  <div id="title" class="title">
    <span>Expense App</span>
  </div>
  <nav role="navigation">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#" aria-haspopup="true">Reports</a>
        <ul class="dropdown" aria-label="submenu">
          <li><a href="/expenses/daily">Daily</a></li>
          <li><a href="/expenses/monthly">Monthly</a></li>
          <li><a href="/expenses/yearly">Yearly</a></li>
        </ul>
      </li>
      <li><a href="/settings">Receipts</a></li>
      <li><a href="/faq">FAQs</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>