<div class="nav-public">
  <div id="title" class="title">
    <span>Expense App</span>
  </div>
  <nav role="navigation">
    <ul>
        <li><a href="#" aria-haspopup="true">Languages</a>
        <ul class="dropdown" aria-label="submenu">
          <li><a id="en" href="#">English</a></li>
          <li><a href="#">Turkish</a></li>
          <li><a href="#">German</a></li>
        </ul>
      </li>
      <li><a href="/faq">FAQs</a></li>
    </ul>
  </nav>
</div>