{{> privateHeader}}
<div class="split-page">
    <div class="flex-daily">
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" value="2020-04-28">
        </div>
        <div>
            <h3>Total Money Spent:</h3>
        </div>
        <div>
            <table class="daily-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Grocery</td>
                        <td>5 Euros</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Savings for the Month: 5 Euros</h3>
        </div>
    </div>
    <div class="chart-section">
        <div class="chart-area">
            <h1>Chart</h1>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="expense-area">
        </div>
    </div>
</div>
<script>
    var expenseObject = {{{ expenseString }}}
</script>
<script src="/javascripts/daily.js"></script>