<div class="split-page">
    <div class="flex-daily">
        <div>
            <h3>Year</h3>
            <select name="select" class="form-control" id="dropdownYear" style="width: 120px" ;>
                <option value=" 2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020" selected="selected">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
        </div>
        <div>
            <h3>Total Money Spent:</h3>
        </div>
        <div>
            <table class="daily-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Grocery</td>
                        <td>5 Euros</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Savings for the Month: 5 Euros</h3>
        </div>
    </div>
    <div class="chart-section">
        <div class="chart-area">
            <h1>Chart</h1>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="expense-area">
            <h1>overview of expenses</h1>
        </div>
    </div>
</div>