<div class="expenseMainBox">
    {{#each expense}}
    <div class="expenseBox">
        <div class="receiptName">
            <p>{{name}}</p>
        </div>
        <div class="expenseDate">
            <p>{{date}}</p>
        </div>
        <div class="expenseCreator">
            <p>{{creator}}</p>
        </div>
        <div class="expenseSum">
            <p>{{sum}}</p>
        </div>
    </div>
    {{/each}}
</div>
<a href="/logout">Logout</a>