{{> publicHeader}}
<div class="container">
    <div class="overlay-left">
        <div class="loginTitle">
            <h2>Signup</h2>
        </div>
        <div class="userBox">
            <form action="/signup" method="post">
                <div class="inputBox">
                    <input placeholder="Username" type="text" name="username">
                    <span data-placeholder="Username"></span>
                </div>
                <div class="inputBox">
                    <input placeholder="Password" type="password" name="password">
                    <span data-placeholder="Password"></span>
                </div>
                <div class="submitBtn">
                    <button type="submit">Sign up</button>
                </div>
            </form>
            {{#if message}}
            <p style="color: red">{{message}}</p>
            {{/if}}
        </div>
    </div>
    <div class="overlay-right">
        <div class="welcomeTitle">
            <h1>Try it out!</h1>
        </div>
        <div class="welcomeContent">
            <p>Expense App is a personal finance web application. It helps you compare your income to your expenses,
                understand where your money goes. Expense App lets you keep track of the
                details as you spend money: where, when, what, why, & how much.</p>
        </div>
        <div class="welcomeSignup">
            <button class="ghost" id="signUp"><a href="/login">Login</a></button>
        </div>
    </div>
</div>

<script type="text/javascript"></script>